USE B1TestDataBase
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER   PROCEDURE dbo.SumIntAndFindMedian
    @TotalSum BIGINT OUTPUT,
	@Median DECIMAL(10, 8) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;

    SELECT 
        @TotalSum = SUM(CAST(IntNumber AS BIGINT))
    FROM Records

	DECLARE @count INT;

	SELECT @count = COUNT(DoubleNumber) FROM Records;

	IF (@count % 2 = 0) 
		SELECT @Median = Avg(DoubleNumber) FROM (SELECT DoubleNumber FROM Records 
		ORDER BY DoubleNumber 
		OFFSET @count / 2 ROWS 
		FETCH NEXT 2 ROWS ONLY) as subQuery
	ELSE
		SELECT @Median = DoubleNumber FROM Records 
		ORDER BY DoubleNumber 
		OFFSET @count / 2 ROWS 
		FETCH NEXT 1 ROWS ONLY
END
